<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:bridge="http://www.crossbridge.com/schema/bridge"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd         
         http://www.crossbridge.com/schema/bridge 
         http://www.crossbridge.com/schema/bridge/application.xsd">

	<bridge:application id="bridgeTestApplication"
		name="bridgeTestApplication" version="1.0"
		organization="bridge.glmapper.com" owner="leishu@glmapper" />
		
	<bridge:contextservice-scan base-package="com.crossbridge.kernel.spring.annotation"/>
	
</beans>
